.header .pure-menu {
  background-color: #DDD;
}
.container .content {
  padding: 1em;
}
.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}
ul.rating {
  display: inline-block;
}
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.rating .filled {
  color: #21568b;
}
.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
  color: inherit;
  border-color: inherit;
}
.pure-form input:focus:invalid:focus,
.pure-form textarea:focus:invalid:focus,
.pure-form select:focus:invalid:focus {
  border-color: #129FEA;
}
.error {
  color: red;
}
error,
.pure-form input.ng-invalid {
  border: 1px solid red;
}
.pure-form input.ng-valid {
  border: 1px solid green;
}
.pure-form input.ng-pristine {
  border: 1px solid #ccc;
}
.heading {
  color: green;
  font-size: 1em;
}
.button-error {
  background: rgb(202, 60, 60);
}
