<div class="pure-g">
  <div class="content pure-u-1 pure-u-md-4-4">
    <div class="posts">
      <section class="post">
        <h2>Form validation with ng-messages</h2>
        <div class="heading">A simple example of form validation using custom validators and ng-messages</div>
        <div>
          <form class="pure-form pure-form-stacked" name="form" novalidate ng-submit="miscellaneous.submit()">
            <fieldset>
              <legend>A Form</legend>
              <label for="email">Email (try to fill with 'admin@example.com' to see the custom validator in action)</label>
              <input id="email" unique-email-validator="emails.json" name="email" type="email" ng-model="miscellaneous.data.email" placeholder="Email" required>
              <div ng-messages="!form.email.$pristine && form.email.$error" class="error">
                <div ng-message="required">
                  You forgot to enter your email address...
                </div>
                <div ng-message="email">
                  You did not enter your email address correctly...
                </div>
                <div ng-message="recordLoading">Checking database...</div>
                <div ng-message="recordAvailable">The email address is already in use...</div>
              </div>
              <label for="password">Password</label>
              <input id="password" name="password" ng-minlength=5 type="password" ng-model="miscellaneous.data.password" placeholder="Password" required>
              <div ng-messages="!form.password.$pristine && form.password.$error" class="error">
                <div ng-message="required">
                  You forgot to enter your password...
                </div>
                <div ng-message="minlength">
                  Your password should be at least 5 characters long...
                </div>
              </div>
              <label for="remember" class="pure-checkbox">
                <input id="remember" type="checkbox" ng-model="miscellaneous.data.remember"> Remember me
              </label>

              <button ng-disabled="form.$invalid" type="submit" class="pure-button pure-button-primary">Sign in</button>
            </fieldset>
            <pre>
              email: {{miscellaneous.data.email}}
              password: {{miscellaneous.data.password}}
              remember: {{miscellaneous.data.remember}}
            </pre>
          </form>
        </div>
      </section>
      <section class="post">
        <h2>Directives</h2>
        <div>
          <h3>percentage</h3>
          <div class="heading">A percentage directive which uses parsers anf formatters</div>
          <form class="pure-form pure-form-aligned">
            <fieldset>
              <div class="pure-control-group">
                <label for="name">Percentage</label>
                <input id="name" type="text" ng-model="miscellaneous.data.percentage" percentage>
              </div>
            </fieldset>
          </form>
          <pre>
              percentage:  {{ miscellaneous.data.percentage }}
            </pre>
        </div>
        <div>
          <h3>rating: {{ miscellaneous.data.rating }}</h3>
          <div class="heading">A <code>rating</code> directive in editable and readonly mode</div>
          <div rating rating-value="miscellaneous.data.rating" max="10" on-rating-selected="miscellaneous.doSomethingWithRating(rating)"></div>
          <div rating readonly="true" rating-value="miscellaneous.data.rating1" max="5" on-rating-selected="miscellaneous.saveRating(rating)"></div>
        </div>
      </section>
      <section class="post">
        <h2>Varoius</h2>
        <div>
          <h3>interceptor and injector</h3>
          <div>
            <div class="heading">In case of server error a popup will be shown, the service wich fires it is taken from the injector.</div>
            <a class="button-error pure-button" href ng-click="miscellaneous.fireServerError()">Fire server error</a>
          </div>
          <h3>EventBus service</h3>
          <div>
            <div class="heading">Click the button to fire an event, and look at your console.</div>
            <a class="pure-button pure-button-primary" href ng-click="miscellaneous.triggerEvent('hello')">trigger event</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
