<div class="pure-g">
  <div class="content pure-u-1 pure-u-md-4-4">
    <div class="posts">
      <section class="post">
        <h2>Form validation with ng-messages</h2>
        <div>
          <form class="pure-form pure-form-stacked" name="form" novalidate ng-submit="miscellaneous.submit()">
            <fieldset>
              <legend>A Form</legend>

              <label for="email">Email</label>
              <input id="email" type="email" ng-model="miscellaneous.data.email" placeholder="Email" required>

              <label for="password">Password</label>
              <input id="password" ng-minlength=5 type="password" ng-model="miscellaneous.data.password" placeholder="Password" required>

              <label for="remember" class="pure-checkbox">
                <input id="remember" type="checkbox" ng-model="miscellaneous.data.remember"> Remember me
              </label>

              <button ng-disabled="form.$invalid" type="submit" class="pure-button pure-button-primary">Sign in</button>
            </fieldset>
            <pre>
              {{miscellaneous.data}}
            </pre>
          </form>
        </div>
      </section>
      <section class="post">
        <h2>Directives</h2>
        <div>
          <h3>percentage</h3>
          <form class="pure-form pure-form-aligned">
            <fieldset>
              <div class="pure-control-group">
                <label for="name">Percentage</label>
                <input id="name" type="text" ng-model="miscellaneous.data.percentage" percentage>
              </div>
            </fieldset>
          </form>
          <pre>
              percentage:  {{ miscellaneous.data.percentage }}
            </pre>
        </div>
        <div>
          <h3>rating: {{ miscellaneous.data.rating }}</h3>
          <div rating rating-value="miscellaneous.data.rating" max="10" on-rating-selected="miscellaneous.doSomethingWithRating(rating)"></div>
          <div rating readonly="true" rating-value="miscellaneous.data.rating" max="5" on-rating-selected="miscellaneous.saveRating(rating)"></div>
        </div>
      </section>
      <section class="post">
        <h2>Filters</h2>
        <div>
          <p>
            content
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
